
.current-weather-information {
    padding-left: .5em;
}

.current-weather-header {
    font-size: 26pt;
    color: #ffffff;
}

.current-weather-location {
    font-size: 8pt;
    color: #ffffff;
}

.weather-icon {
    color: #ffffff;
}