
.current-weather-information {
    padding-left: .5em;
}

.current-weather-header {
    font-size: 26pt;
}

.current-weather-location {
    font-size: 8pt;
}

.weather-icon {
    font-size: 12pt;
}

.provider-info-last-updated {
    float: right;
}